@{
    ViewData["Title"] = "Home";
}

<!-- HERO SLIDER -->
<section class="hero-slider">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-slider-active">
                    <div class="hero-single-slide">
                        <div class="hero-slider-item">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="hero-slider-content">
                                        <h5 class="slide-subtitle">Top Selling!</h5>
                                        <h2 class="slide-title">Top Collection</h2>
                                        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="#" class="btn btn-hero">SHOP NOW</a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <img src="@(Url.Content("~/assets/img/slider/slider-1.jpg"))" alt="slider" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hero-single-slide">
                        <div class="hero-slider-item">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="hero-slider-content">
                                        <h5 class="slide-subtitle">Best Selling!</h5>
                                        <h2 class="slide-title">Top Collection</h2>
                                        <p class="slide-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="#" class="btn btn-hero">SHOP NOW</a>
                                    </div>
                                </div>
                                <div class="col-md-6 text-right">
                                    <img src="@(Url.Content("~/assets/img/slider/slider-2.jpg"))" alt="slider2" class="img-fluid" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Service Features -->
<section class="service-policy-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-1">
                    <div class="policy-icon">
                        <img src="@(Url.Content("~/assets/img/icon/policy-1.png"))" alt="policy icon" />
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">FREE SHIPPING</h5>
                        <p class="policy-desc">Free shipping on all order</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-2">
                    <div class="policy-icon">
                        <img src="@(Url.Content("~/assets/img/icon/policy-2.png"))" alt="policy icon" />
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">ONLINE SUPPORT</h5>
                        <p class="policy-desc">Online support 24 hours a day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-policy-item mt-30 bg-3">
                    <div class="policy-icon">
                        <img src="@(Url.Content("~/assets/img/icon/policy-3.png"))" alt="policy icon" />
                    </div>
                    <div class="policy-content">
                        <h5 class="policy-title">MONEY RETURN</h5>
                        <p class="policy-desc">Back guarantee under 5 days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Product samples -->
<section class="our-product section-padding">
    <div class="container">
        <div class="product-carousel-4">
            <div class="product-item">
                <div class="product-thumb">
                    <a href="#"><img src="@(Url.Content("~/assets/img/product/product-1.jpg"))" alt="product-1" /></a>
                </div>
                <div class="product-content">
                    <h5 class="product-name"><a href="#">Leather Mens Slipper</a></h5>
                    <div class="price-box"><span class="price-regular">$80.00</span></div>
                </div>
            </div>
            <div class="product-item">
                <div class="product-thumb">
                    <a href="#"><img src="@(Url.Content("~/assets/img/product/product-2.jpg"))" alt="product-2" /></a>
                </div>
                <div class="product-content">
                    <h5 class="product-name"><a href="#">Quickiin Mens shoes</a></h5>
                    <div class="price-box"><span class="price-regular">$80.00</span></div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Quick view modal  -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                <div class="product-details-inner">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="product-large-slider mb-20">
                                <div class="pro-large-img img-zoom">
                                    <img src="@(Url.Content("~/assets/img/product/product-details-img1.jpg"))" alt="product thumb" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offcanvas & minicart  -->
<div class="offcanvas-minicart-wrapper">
    <div class="minicart-inner">
        <div class="minicart-inner-content">
            <div class="minicart-item-wrapper">
                <ul>
                    <li class="minicart-item">
                        <div class="minicart-thumb"><a href="#"><img src="@(Url.Content("~/assets/img/cart/cart-1.jpg"))" alt="product" /></a></div>
                        <div class="minicart-content"><h3 class="product-name"><a href="#">Flowers bouquet</a></h3></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="scroll-top not-visible"><i class="fa fa-angle-up"></i></div>